user_images/captures/*
user_images/temp/*
user_images/uploads/*
user_images/deletes/*

!user_images/captures/.gitkeep
!user_images/temp/.gitkeep
!user_images/uploads/.gitkeep
!user_images/deletes/.gitkeep

server/node_modules
.DS_Store
user_images/.DS_Store
user_images/captures/.DS_Store
user_images/temp/.DS_Store
user_images/uploads/.DS_Store
user_images/deletes/.DS_Store
server/.DS_Store
server/controllers/.DS_Store
server/db/.DS_Store
server/face_encodings/.DS_Store
server/pyscripts/.DS_Store
server/routes/.DS_Store
server/utils/.DS_Store
